<?xml version="1.0" encoding="utf-8" ?>
<Theme title="Generic"
       previewText="This theme is the basis for all configuration-based themes."
       loadPageContentFromTheme="generic">
  <Configuration inherit="true" />
  <DynamicConfiguration>
    <propertyGroup id="headers" resourceName="ThemeConfig_Headers_Title">
      <property id="inheritPageHeaders" resourceName="ThemeConfig_Headers_InheritFromSite_Title" descriptionResourceName="ThemeConfig_Headers_InheritFromSite_Description" dataType="bool" defaultValue="false" />
      <property id="rawHeader" resourceName="ThemeConfig_RawHeader_Title" descriptionResourceName="ThemeConfig_RawHeader_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50" defaultValue="&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot; /&gt;" />
      <property id="rawHeaderLast" resourceName="ThemeConfig_RawHeader_Last_Title" descriptionResourceName="ThemeConfig_RawHeader_Last_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50" defaultValue="" />
      <property id="cssFiles" resourceName="ThemeConfig_Files_CSS_Title" descriptionResourceName="ThemeConfig_Files_CSS_Description" dataType="custom" controlType="Telligent.Evolution.Controls.ThemeFileListCustomControl, Telligent.Evolution.Controls" allowedFileTypes="css" />
      <property id="cssFilesNonModal" resourceName="ThemeConfig_Files_CSSNonModal_Title" descriptionResourceName="ThemeConfig_Files_CSSNonModal_Description" dataType="custom" controlType="Telligent.Evolution.Controls.ThemeFileListCustomControl, Telligent.Evolution.Controls" allowedFileTypes="css" />
      <property id="cssFilesModal" resourceName="ThemeConfig_Files_CSSModal_Title" descriptionResourceName="ThemeConfig_Files_CSSModal_Description" dataType="custom" controlType="Telligent.Evolution.Controls.ThemeFileListCustomControl, Telligent.Evolution.Controls" allowedFileTypes="css" />
      <property id="ie6CssFiles" resourceName="ThemeConfig_Files_IE6CSS_Title" descriptionResourceName="ThemeConfig_Files_IE6CSS_Description" dataType="custom" controlType="Telligent.Evolution.Controls.ThemeFileListCustomControl, Telligent.Evolution.Controls" allowedFileTypes="css" />
      <property id="printCssFiles" resourceName="ThemeConfig_Files_PrintCSS_Title" descriptionResourceName="ThemeConfig_Files_PrintCSS_Description" dataType="custom" controlType="Telligent.Evolution.Controls.ThemeFileListCustomControl, Telligent.Evolution.Controls" allowedFileTypes="css" />
    </propertyGroup>
    <propertyGroup id="widgets" resourceName="ThemeConfig_Widgets_Tab_Title">
	  <property id="inheritContentFragments" resourceName="ThemeConfig_InheritWidgetsFromGroup_Title" descriptionResourceName="ThemeConfig_InheritWidgetsFromGroup_Description" dataType="bool" defaultValue="true" />
	  <property id="inheritHeaders" resourceName="ThemeConfig_InheritHeadersFromGroup_Title" descriptionResourceName="ThemeConfig_InheritHeadersFromGroup_Description" dataType="bool" defaultValue="true" />
      <property id="inheritFooters" resourceName="ThemeConfig_InheritFootersFromGroup_Title" descriptionResourceName="ThemeConfig_InheritFootersFromGroup_Description" dataType="bool" defaultValue="true" />
    </propertyGroup>
    <propertyGroup id="files" resourceName="ThemeConfig_Files_Tab_Title">
      <property id="files" resourceName="ThemeConfig_Files_Files_Title" descriptionResourceName="ThemeConfig_Files_Files_Description" dataType="custom" controlType="Telligent.Evolution.Controls.ThemeFileListCustomControl, Telligent.Evolution.Controls" allowedFileTypes="jpg,jpeg,gif,png,ttf,otf,eot,css,svg,woff,ico" />
    </propertyGroup>
    <propertyGroup id="formatting" resourceName="ThemeConfig_Formatting_Title">
      <propertySubGroup id="leaders" resourceName="ThemeConfig_Formatting_LeaderTemplates_Title">
        <property id="inheritLeaderTemplates" resourceName="ThemeConfig_LeaderTemplates_InheritFromSite_Title" descriptionResourceName="ThemeConfig_LeaderTemplates_InheritFromSite_Description" dataType="bool" defaultValue="false" />
        <property id="contentFragmentLeaderHtml" resourceName="ThemeConfig_ContentFragmentLeaderHtml_Title" descriptionResourceName="ThemeConfig_ContentFragmentLeaderHtml_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50">
          <propertyRule type="Telligent.Evolution.Controls.PropertyRules.SanitizeHtmlRule, Telligent.Evolution.Controls" trailerPropertyName="contentFragmentTrailerHtml" />
        </property>
        <property id="contentFragmentHeaderLeaderHtml" resourceName="ThemeConfig_ContentFragmentHeaderLeaderHtml_Title" descriptionResourceName="ThemeConfig_ContentFragmentHeaderLeaderHtml_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50">
          <propertyRule type="Telligent.Evolution.Controls.PropertyRules.SanitizeHtmlRule, Telligent.Evolution.Controls" trailerPropertyName="contentFragmentHeaderTrailerHtml" />
        </property>
        <property id="pageTabsLeaderHtml" resourceName="ThemeConfig_PageTabsLeaderHtml_Title" descriptionResourceName="ThemeConfig_PageTabsLeaderHtml_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50">
          <propertyRule type="Telligent.Evolution.Controls.PropertyRules.SanitizeHtmlRule, Telligent.Evolution.Controls" trailerPropertyName="pageTabsTrailerHtml" />
        </property>
        <property id="layoutRegionLeaderHtml" resourceName="ThemeConfig_LayoutRegionLeaderHtml_Title" descriptionResourceName="ThemeConfig_LayoutRegionLeaderHtml_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50">
          <propertyRule type="Telligent.Evolution.Controls.PropertyRules.SanitizeHtmlRule, Telligent.Evolution.Controls" trailerPropertyName="layoutRegionTrailerHtml" />
        </property>
      </propertySubGroup>
      <propertySubGroup id="trailers" resourceName="ThemeConfig_Formatting_TrailerTemplates_Title">
        <property id="inheritTrailerTemplates" resourceName="ThemeConfig_TrailerTemplates_InheritFromSite_Title" descriptionResourceName="ThemeConfig_TrailerTemplates_InheritFromSite_Description" dataType="bool" defaultValue="false" />
        <property id="contentFragmentTrailerHtml" resourceName="ThemeConfig_ContentFragmentTrailerHtml_Title" descriptionResourceName="ThemeConfig_ContentFragmentTrailerHtml_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50">
          <propertyRule type="Telligent.Evolution.Controls.PropertyRules.SanitizeHtmlRule, Telligent.Evolution.Controls" leaderPropertyName="contentFragmentLeaderHtml" />
        </property>
        <property id="contentFragmentHeaderTrailerHtml" resourceName="ThemeConfig_ContentFragmentHeaderTrailerHtml_Title" descriptionResourceName="ThemeConfig_ContentFragmentHeaderTrailerHtml_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50">
          <propertyRule type="Telligent.Evolution.Controls.PropertyRules.SanitizeHtmlRule, Telligent.Evolution.Controls" leaderPropertyName="contentFragmentHeaderLeaderHtml" />
        </property>
        <property id="pageTabsTrailerHtml" resourceName="ThemeConfig_PageTabsTrailerHtml_Title" descriptionResourceName="ThemeConfig_PageTabsTrailerHtml_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50">
          <propertyRule type="Telligent.Evolution.Controls.PropertyRules.SanitizeHtmlRule, Telligent.Evolution.Controls" leaderPropertyName="pageTabsLeaderHtml" />
        </property>
        <property id="layoutRegionTrailerHtml" resourceName="ThemeConfig_LayoutRegionTrailerHtml_Title" descriptionResourceName="ThemeConfig_LayoutRegionTrailerHtml_Description" dataType="Html" controlType="Telligent.DynamicConfiguration.Controls.MultilineHtmlControl, Telligent.DynamicConfiguration" rows="10" columns="50">
          <propertyRule type="Telligent.Evolution.Controls.PropertyRules.SanitizeHtmlRule, Telligent.Evolution.Controls" leaderPropertyName="layoutRegionLeaderHtml" />
        </property>
      </propertySubGroup>
    </propertyGroup>
    <propertyGroup id="cssOverrides" resourceName="ThemeConfig_CSS_Tab_Title">
      <property id="cssOverrides" resourceName="ThemeConfig_CSS_Title" descriptionResourceName="ThemeConfig_CSS_Description" dataType="string" defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" columns="120" />
    </propertyGroup>
    <propertyGroup id="wrappingFormats" resourceName="ThemeConfig_WrappingFormats_Tab_Title">
      <property id="inheritContentFragmentWrappingFormats" resourceName="ThemeConfig_WrappingFormats_Inherit_Formats" dataType="bool" defaultValue="true" />
      <property id="contentFragmentWrappingFormats" resourceName="ThemeConfig_WrappingFormats_Title"  descriptionResourceName="ThemeConfig_WrappingFormats_Description"  dataType="string" controlType="Telligent.Evolution.Controls.ContentFragmentWrappingFormatsControl, Telligent.Evolution.Controls" columns="120" defaultValue="" />
      <property id="defaultContentFragmentWrappingFormatWithHeader" resourceName="ThemeConfig_WrappingFormats_Default_With_Header" dataType="string" defaultValue="" />
      <property id="defaultContentFragmentWrappingFormatWithoutHeader" resourceName="ThemeConfig_WrappingFormats_Default_Without_Header"  dataType="string" defaultValue="" />
    </propertyGroup>"
  </DynamicConfiguration>
  <PageHeaders inheritProperty="inheritPageHeaders">
    <PageHeader>
      <Parameters>
        <Parameter key="{header}" property="rawHeader" />
      </Parameters>
      <Markup>
        <![CDATA[
          {header}
        ]]>
      </Markup>
    </PageHeader>
    <PageHeader renderInModal="true" renderInNonModal="true" type="Telligent.Evolution.Controls.ThemeFileListCssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="cssFilesBase" />
    <PageHeader renderInModal="true" renderInNonModal="true" type="Telligent.Evolution.Controls.ThemeFileListCssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="cssFiles" />
    <PageHeader renderInModal="false" renderInNonModal="true" type="Telligent.Evolution.Controls.ThemeFileListCssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="cssFilesNonModalBase" />
    <PageHeader renderInModal="false" renderInNonModal="true" type="Telligent.Evolution.Controls.ThemeFileListCssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="cssFilesNonModal" />
    <PageHeader renderInModal="true" renderInNonModal="false" type="Telligent.Evolution.Controls.ThemeFileListCssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="cssFilesModalBase" />
    <PageHeader renderInModal="true" renderInNonModal="false" type="Telligent.Evolution.Controls.ThemeFileListCssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="cssFilesModal" />
    <PageHeader renderInModal="false" renderInNonModal="true" type="Telligent.Evolution.Controls.ThemeFileListIE6CssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="ie6CssFilesBase" />
    <PageHeader renderInModal="false" renderInNonModal="true" type="Telligent.Evolution.Controls.ThemeFileListIE6CssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="ie6CssFiles" />
    <PageHeader renderInModal="true" renderInNonModal="true" type="Telligent.Evolution.Controls.ThemeFileListPrintCssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="printCssFilesBase" />
    <PageHeader renderInModal="true" renderInNonModal="true" type="Telligent.Evolution.Controls.ThemeFileListPrintCssPageHeader, Telligent.Evolution.Controls" themeFileListProperty="printCssFiles" />
    <PageHeader renderInModal="false" renderInNonModal="true">
      <Markup>
        <![CDATA[
          <link type="text/css" rel="stylesheet" href="~/themes/blogs/generic/css/dynamic-style.aspx?AppType=Weblog&amp;WeblogID={ThemeContextId}&amp;PreviewKey={PreviewKey}&amp;Theme={ThemeName}" media="screen,print" />
        ]]>
      </Markup>
    </PageHeader>
    <PageHeader>
      <Parameters>
        <Parameter key="{header}" property="rawHeaderLast" />
      </Parameters>
      <Markup>
        <![CDATA[
          {header}
        ]]>
      </Markup>
    </PageHeader>
  </PageHeaders>
  <ContentFragmentWrappingFormats property="contentFragmentWrappingFormats" defaultWithHeaderProperty="defaultContentFragmentWrappingFormatWithHeader" defaultWithoutHeaderProperty="defaultContentFragmentWrappingFormatWithoutHeader" inheritProperty="inheritContentFragmentWrappingFormats" />
  <HeaderFragments inheritProperty="inheritHeaders" editable="true" />
  <FooterFragments inheritProperty="inheritFooters" editable="true" />
  <LeaderTemplates inheritProperty="inheritLeaderTemplates">
    <Template for="ContentFragment" property="contentFragmentLeaderHtml" />
    <Template for="ContentFragmentHeader" property="contentFragmentHeaderLeaderHtml" />
    <Template for="PageTabs" property="pageTabsLeaderHtml" />
    <Template for="LayoutRegion" property="layoutRegionLeaderHtml" />
  </LeaderTemplates>
  <TrailerTemplates inheritProperty="inheritTrailerTemplates">
    <Template for="ContentFragment" property="contentFragmentTrailerHtml" />
    <Template for="ContentFragmentHeader" property="contentFragmentHeaderTrailerHtml" />
    <Template for="PageTabs" property="pageTabsTrailerHtml" />
    <Template for="LayoutRegion" property="layoutRegionTrailerHtml" />
  </TrailerTemplates>
  <MarkupTranslations inherit="true" />
	<ContentFragments inheritProperty="inheritContentFragments" />
</Theme>
