<?xml version="1.0" encoding="utf-8"?>
<module name="AttachmentModule">

  <bind service="Telligent.Evolution.Components.IAttachmentDataService, Telligent.Evolution.Components"
        to="Telligent.Evolution.Components.AttachmentDataService, Telligent.Evolution.Components"
        scope="singleton"/>

  <bind service="Telligent.Evolution.Components.IAttachmentService, Telligent.Evolution.Components"
        to="Telligent.Evolution.Components.AttachmentService, Telligent.Evolution.Components"
        scope="singleton"/>

</module>