<?xml version="1.0" encoding="utf-8"?>
<module name="CaptureContentToWikiModule">

	<bind service="Telligent.Evolution.Components.ICaptureContentToGroupApplicationService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Wikis.Components.CaptureContentToWikiService, Telligent.Evolution.Wikis"
				scope="singleton"/>

</module>