<?xml version="1.0" encoding="utf-8"?>
<module name="EmailModule">

	<bind service="Telligent.Evolution.Components.IEmailDigestSubscriptionService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.EmailDigestSubscriptionService, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IEmailDigestDataService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.EmailDigestDataService, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailQueuingService, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailQueuingService, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailTemplateSerializer, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailTemplateSerializer, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailTemplateService, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailTemplateService, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailTemplateExtensionService, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailTemplateExtensionService, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailContextService, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailContextService, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>
	
	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailContext, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailContext, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailBuilder, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailBuilder, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailHeaderConstants, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailHeaderConstants, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailTemplateActions, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailTemplateActions, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailTemplateUtility, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailTemplateUtility, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailTemplateLoader, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailTemplateLoader, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.Email.IEmailChecks, Telligent.Evolution.Components"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailChecks, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailDigestStrategy, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailDigestStrategy, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Api.Comments.Email.IStatusCommentEmailProvider, Telligent.Evolution.Api"
				to="Telligent.Evolution.MailGateway.MailRoom.Provider.MessageEmails, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

  <!-- Extensibility -->

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IEmailTemplateHeader, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.EmailTemplateHeader, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IAttachments, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.Attachments, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IContactRequests, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.ContactRequests, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IBroadcastMessages, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.BroadcastMessages, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

  <bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IGroupMemberships, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.GroupMemberships, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IEmailMessages, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.EmailMessages, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IForumModerationsEmailTemplate, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.ForumModerationsEmailTemplate, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<!-- Email Digest Views -->

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IBlogViews, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.BlogViews, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IUserViews, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.UserViews, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IForumViews, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.ForumViews, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IGroupViews, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.GroupViews, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IGalleryViews, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.GalleryViews, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IWikiViews, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.WikiViews, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>


  <bind service="Telligent.Evolution.Components.ApiDocumentation.IExtensionMetadataService`1[[Telligent.Evolution.Extensibility.Email.Version1.IEmailTemplateExtension, Telligent.Evolution.MailGateway.MailRoom]], Telligent.Evolution.Components"
      to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailTemplateExtensionMetadataService, Telligent.Evolution.MailGateway.MailRoom"
      scope="singleton"/>

  <bind service="Telligent.Evolution.MailGateway.MailRoom.Services.IEmailTemplateExtensionMetadataStore, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Implementation.EmailTemplateExtensionMetadataStore, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>
  
  <bind service="Telligent.Evolution.CoreServices.Notification.Interfaces.INotificationEmailService, Telligent.Evolution.Core"
        to="Telligent.Evolution.MailGateway.MailRoom.Provider.NotificationEmailService, Telligent.Evolution.MailGateway.MailRoom"
        scope="singleton" />
</module>