<?xml version="1.0" encoding="utf-8"?>
<module name="GroupsModule">

	<bind service="Telligent.Evolution.Components.IGroupService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.GroupService, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IGroupContactService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.GroupContactService, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IGroupDataService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.GroupDataService, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IApplicationSetService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.ApplicationSetService, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.GroupsObserverableDataService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.GroupsObserverableDataService, Telligent.Evolution.Components"
				scope="singleton"/>  

</module>