<?xml version="1.0" encoding="utf-8"?>
<module name="LegacySupportModule">

	<bind service="Telligent.Evolution.Components.ILegacyApplicationKeyService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.LegacyApplicationKeyService, Telligent.Evolution.Components"
				scope="singleton"/>

</module>