<?xml version="1.0" encoding="utf-8"?>
<module name="MediaGalleriesModule">

  <bind service="Telligent.Evolution.MediaGalleries.Components.IMediaGalleryDataService, Telligent.Evolution.MediaGalleries"
				to="Telligent.Evolution.MediaGalleries.Components.MediaGalleryDataService, Telligent.Evolution.MediaGalleries"
				scope="singleton"/>

  <bind service="Telligent.Evolution.MediaGalleries.Components.IMediaGalleryPostDataService, Telligent.Evolution.MediaGalleries"
      to="Telligent.Evolution.MediaGalleries.Components.MediaGalleryPostDataService, Telligent.Evolution.MediaGalleries"
      scope="singleton"/>

  <bind service="Telligent.Evolution.MediaGalleries.Components.IMediaGallerySubscriptionDataService, Telligent.Evolution.MediaGalleries"
				to="Telligent.Evolution.MediaGalleries.Components.MediaGallerySubscriptionDataService, Telligent.Evolution.MediaGalleries"
				scope="singleton"/>

  <bind service="Telligent.Evolution.MediaGalleries.Components.MediaGalleriesObserverableDataService, Telligent.Evolution.MediaGalleries"
				to="Telligent.Evolution.MediaGalleries.Components.MediaGalleriesObserverableDataService, Telligent.Evolution.MediaGalleries"
				scope="singleton"/>

</module>