<?xml version="1.0" encoding="utf-8"?>
<module name="MessagingModule">

  <bind service="Telligent.Evolution.Messages.IMessagingDataService, Telligent.Evolution.Messages"
				to="Telligent.Evolution.Messages.MessagingDataService, Telligent.Evolution.Messages"
				scope="singleton"/>

</module>