<?xml version="1.0" encoding="utf-8"?>
<module name="PluginManagerModule">

	<bind service="Telligent.Evolution.Components.IPluginFinder, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.PluginFinder, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IPluginManager, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.PluginManager, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IPluginManagerDataService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.PluginManagerDataService, Telligent.Evolution.Components"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Components.ITranslatablePluginService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.TranslatablePluginService, Telligent.Evolution.Components"
				scope="singleton"/>

</module>