<?xml version="1.0" encoding="utf-8"?>
<module name="RestModule">

    <bind service="System.Web.Routing.IRouteHandler, System.Web.Routing"
				to="Telligent.Evolution.Rest.Infrastructure.RestRouteHandler, Telligent.Evolution.Rest"
				scope="singleton"/>

    <!-- Dispatch -->

    <bind service="Telligent.Evolution.Extensibility.Rest.Infrastructure.Version1.IActionRegistry, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.ActionRegistry, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Extensibility.Rest.Infrastructure.Version1.IActionDispatcher, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.ActionDispatcher, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Extensibility.Rest.Infrastructure.Version1.IControllerFactory, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.ControllerFactory, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Extensibility.Rest.Infrastructure.Version1.IRegisterActions, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.ActionRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

    <!-- Request/Response Formatting -->

    <bind service="Telligent.Evolution.Rest.Infrastructure.IValueConverter, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.DefaultValueConverter, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Extensibility.Rest.Infrastructure.Version1.IRequestFormatter, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.RequestFormatter, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Extensibility.Rest.Infrastructure.Version1.IResponseFormatter, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.ResponseFormatter, Telligent.Evolution.Rest"
				scope="singleton"/>

    <!-- Request Strategies -->

    <bind service="Telligent.Evolution.Rest.Infrastructure.IRequestStrategy, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.ListRequestStrategy, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IRequestStrategy, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.ShowRequestStrategy, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IRequestStrategy, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.UpdateRequestStrategy, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IRequestStrategy, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.CreateRequestStrategy, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IRequestStrategy, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.DeleteRequestStrategy, Telligent.Evolution.Rest"
				scope="singleton"/>

    <!-- Serialization -->

    <bind service="Telligent.Evolution.Extensibility.Rest.Infrastructure.Version1.ISerializer, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.RestXmlSerializer, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Extensibility.Rest.Infrastructure.Version1.ISerializer, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.RestJsonSerializer, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Extensibility.Rest.Infrastructure.Version1.ISerializer, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Infrastructure.RestFileSerializer, Telligent.Evolution.Rest"
				scope="singleton"/>

    <!-- Domain Services -->

    <bind service="Telligent.Evolution.Rest.Resources.Favorites.IFavoriteService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Favorites.FavoriteService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Features.IFeatureService, Telligent.Evolution.Rest"
			to="Telligent.Evolution.Rest.Resources.Features.FeatureService, Telligent.Evolution.Rest"
			scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Follows.IFollowService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Follows.FollowService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Friendships.IFriendshipService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Friendships.FriendshipService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Users.IUserService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Users.UserService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.GroupUsers.IGroupUserService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.GroupUsers.GroupUserService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.UserPresence.IUserPresenceService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.UserPresence.UserPresenceService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.ReplyMessages.IReplyMessageService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ReplyMessages.ReplyMessageService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.StatusMessages.IStatusMessageService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.StatusMessages.StatusMessageService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.ActivityMessages.IActivityMessageService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ActivityMessages.ActivityMessageService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.WikiToc.IWikiTocService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiToc.WikiTocService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Wikis.IWikiService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Wikis.WikiService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.WikiPages.IWikiPageService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiPages.WikiPageService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.WikiPageRevisions.IWikiPageRevisionService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiPageRevisions.WikiPageRevisionService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.WikiComments.IWikiCommentService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiComments.WikiCommentService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.ForumReplies.IForumService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ForumReplies.ForumService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.BlogPosts.IBlogService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.BlogPosts.BlogService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.BlogContactRequests.IBlogContactRequestService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.BlogContactRequests.BlogContactRequestService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.BlogComments.IBlogCommentService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.BlogComments.BlogCommentService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Groups.IGroupService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Groups.GroupService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Permissions.ISecurityService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Permissions.SecurityService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Permissions.INodeLoaderService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Permissions.NodeLoaderService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Search.ISearchService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Search.SearchService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Info.IInfoService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Info.InfoService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Conversations.IConversationService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Conversations.ConversationService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.ConversationMessages.IConversationMessageService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ConversationMessages.ConversationMessageService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Media.IMediaService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Media.MediaService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.MediaComments.IMediaCommentService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.MediaComments.MediaCommentService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Cfs.ICfsService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Cfs.CfsService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.WikiFiles.IWikiFileService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiFiles.WikiFileService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.GroupContactRequests.IGroupContactRequestService, Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.GroupContactRequests.GroupContactRequestService, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Ratings.IRatingService, Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Ratings.RatingService, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Comments.ICommentService, Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Comments.CommentService, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Resources.Likes.ILikeService, Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Likes.LikeService, Telligent.Evolution.Rest"
                  scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Resources.ActivityStories.IActivityStoryService, Telligent.Evolution.Rest"
                to="Telligent.Evolution.Rest.Resources.ActivityStories.ActivityStoryService, Telligent.Evolution.Rest"
                scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Resources.Mentions.IMentionService, Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Mentions.MentionService, Telligent.Evolution.Rest"
                  scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Resources.Mentionables.IMentionableService, Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Mentionables.MentionableService, Telligent.Evolution.Rest"
                  scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Resources.AggregateTaggedContent.IAggregateTaggedContentService, Telligent.Evolution.Rest"
                to="Telligent.Evolution.Rest.Resources.AggregateTaggedContent.AggregateTaggedContentService, Telligent.Evolution.Rest"
                scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Resources.AggregateTags.IAggregateTagService, Telligent.Evolution.Rest"
                to="Telligent.Evolution.Rest.Resources.AggregateTags.AggregateTagsService, Telligent.Evolution.Rest"
                scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Resources.ContentTags.IContentTagsService, Telligent.Evolution.Rest"
                to="Telligent.Evolution.Rest.Resources.ContentTags.ContentTagsService, Telligent.Evolution.Rest"
                scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Resources.Abuse.IAbuseService, Telligent.Evolution.Rest"
              to="Telligent.Evolution.Rest.Resources.Abuse.AbuseService, Telligent.Evolution.Rest"
              scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Resources.HashTags.IHashTagService, Telligent.Evolution.Rest"
               to="Telligent.Evolution.Rest.Resources.HashTags.HashTagService, Telligent.Evolution.Rest"
               scope="singleton"/>


  <!-- Type Mappers to REST Model -->
  <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.AggregateTaggedContent, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestAggregateTaggedContent, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
       to="Telligent.Evolution.Rest.Resources.AggregateTaggedContent.AggregateTaggedContentMapper, Telligent.Evolution.Rest"
       scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.Tag, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestAggregateTag, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
       to="Telligent.Evolution.Rest.Resources.AggregateTags.AggregateTagMapper, Telligent.Evolution.Rest"
       scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.ContentTag, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestContentTag, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
     to="Telligent.Evolution.Rest.Resources.ContentTags.ContentTagMapper, Telligent.Evolution.Rest"
     scope="singleton"/>
  
    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.User, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestUser, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Users.UserMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.User, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.BasicRestUser, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Users.BasicUserMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.IFavorableContent, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestFavorite, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Favorites.FavoriteMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.IFeaturableContent, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestFeature, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
			to="Telligent.Evolution.Rest.Resources.Features.FeatureMapper, Telligent.Evolution.Rest"
			scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.Friendship, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestFriendship, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Friendships.FriendshipMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.StatusMessage, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestStatusMessage, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.StatusMessages.StatusMessageMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.ActivityMessage, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestActivityMessage, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ActivityMessages.ActivityMessageMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Messages.ReplyMessage, Telligent.Evolution.Messages], [Telligent.Evolution.Rest.Entities.RestReplyMessage, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ReplyMessages.ReplyMessageMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Wikis.Components.PageHierarchyItem, Telligent.Evolution.Wikis], [Telligent.Evolution.Rest.Entities.BasicRestWikiPage, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiToc.WikiTocMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Wikis.Components.Wiki, Telligent.Evolution.Wikis], [Telligent.Evolution.Rest.Entities.RestWiki, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Wikis.WikiMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Wikis.Components.Page, Telligent.Evolution.Wikis], [Telligent.Evolution.Rest.Entities.RestWikiPage, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiPages.WikiPageMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Wikis.Components.PageRevision, Telligent.Evolution.Wikis], [Telligent.Evolution.Rest.Entities.RestWikiPageRevision, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiPageRevisions.WikiPageRevisionMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Discussions.Components.ForumPost, Telligent.Evolution.Discussions], [Telligent.Evolution.Rest.Entities.RestForumReply, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ForumReplies.ForumReplyMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Discussions.Components.Thread, Telligent.Evolution.Discussions], [Telligent.Evolution.Rest.Entities.RestForumThread, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ForumThreads.ForumThreadMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapperWithOptions`2[[Telligent.Evolution.Discussions.Components.Forum, Telligent.Evolution.Discussions], [Telligent.Evolution.Rest.Entities.RestForum, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Forums.ForumMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.PollItem, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestPollItem, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.PollItems.PollItemMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Blogs.Components.Weblog, Telligent.Evolution.Blogs], [Telligent.Evolution.Rest.Entities.RestBlog, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Blogs.BlogMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Blogs.Components.WeblogPost, Telligent.Evolution.Blogs], [Telligent.Evolution.Rest.Entities.RestBlogPost, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.BlogPosts.BlogPostMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Blogs.Components.WeblogContactRequest, Telligent.Evolution.Blogs], [Telligent.Evolution.Rest.Entities.RestBlogContactRequest, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.BlogContactRequests.BlogContactRequestMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Blogs.Components.ArchiveDataItem, Telligent.Evolution.Blogs], [Telligent.Evolution.Rest.Entities.RestBlogPostSummary, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.BlogPostSummaries.BlogPostSummaryMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.Group, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestGroup, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Groups.GroupMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapperWithOptions`2[[Telligent.Evolution.Components.Role, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestRole, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Permissions.RoleMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.PermissionEntry, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestPermissionEntry, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Permissions.PermissionEntryMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Messages.Conversation, Telligent.Evolution.Messages], [Telligent.Evolution.Rest.Entities.RestConversation, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Conversations.ConversationMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.MessageBase, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestConversationMessage, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ConversationMessages.ConversationMessageMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.MediaGalleries.Components.MediaGallery, Telligent.Evolution.MediaGalleries], [Telligent.Evolution.Rest.Entities.RestGallery, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Galleries.GalleryMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.MediaGalleries.Components.MediaGalleryPost, Telligent.Evolution.MediaGalleries], [Telligent.Evolution.Rest.Entities.RestMedia, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Media.MediaMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Components.GroupContactRequest, Telligent.Evolution.Components], [Telligent.Evolution.Rest.Entities.RestGroupContactRequest, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.GroupContactRequests.GroupContactRequestMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.Rating, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestRating, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Ratings.RatingMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.RatedItem, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestRatedItem, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.RatedItems.RatedItemMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.CoreServices.Comments.Comment, Telligent.Evolution.Core], [Telligent.Evolution.Rest.Entities.RestComment, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Comments.CommentMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.Like, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestLike, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Likes.LikeMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.ActivityStoryActor, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestActivityStoryActor, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.ActivityStories.ActivityStoryActorMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.Comment, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestReplyMessage, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.ReplyMessages.CommentReplyMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.Mention, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestMention, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Mentions.MentionMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.Mentionable, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestMentionable, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Mentionables.MentionableMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.Content, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestContent, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Content.ContentMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.Application, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestApplication, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Content.ApplicationMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

  <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.Container, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestContainer, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.Content.ContainerMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.AbuseReport, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestAbuseReport, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                  to="Telligent.Evolution.Rest.Resources.AbuseReports.AbuseReportMapper, Telligent.Evolution.Rest"
                  scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.AbuseAppeal, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestAbuseAppeal, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                to="Telligent.Evolution.Rest.Resources.AbuseAppeals.AbuseAppealMapper, Telligent.Evolution.Rest"
                scope="singleton"/>

	<bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.AbusiveContent, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestAbusiveContent, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
                to="Telligent.Evolution.Rest.Resources.AbusiveContent.AbusiveContentMapper, Telligent.Evolution.Rest"
                scope="singleton"/>

	<bind service="Telligent.Evolution.Rest.Infrastructure.IMapper`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.HashTag, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestHashTag, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
       to="Telligent.Evolution.Rest.Resources.HashTags.HashTagMapper, Telligent.Evolution.Rest"
       scope="singleton"/>

  <!-- Custom Mappers -->

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapperWithOptions`2[[Telligent.Evolution.Wikis.Components.Page, Telligent.Evolution.Wikis], [Telligent.Evolution.Rest.Entities.RestWikiPage, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiPages.WikiPageMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapperWithOptions`2[[Telligent.Evolution.Wikis.Components.PageRevision, Telligent.Evolution.Wikis], [Telligent.Evolution.Rest.Entities.RestWikiPageRevision, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.WikiPageRevisions.WikiPageRevisionMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapperWithOptions`2[[Telligent.Evolution.Blogs.Components.WeblogPost, Telligent.Evolution.Blogs], [Telligent.Evolution.Rest.Entities.RestBlogPost, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.BlogPosts.BlogPostMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapperWithOptions`2[[Telligent.Evolution.Discussions.Components.Thread, Telligent.Evolution.Discussions], [Telligent.Evolution.Rest.Entities.RestForumThread, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ForumThreads.ForumThreadMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapperWithOptions`2[[Telligent.Evolution.Discussions.Components.ForumPost, Telligent.Evolution.Discussions], [Telligent.Evolution.Rest.Entities.RestForumReply, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.ForumReplies.ForumReplyMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapperWithOptions`2[[Telligent.Evolution.MediaGalleries.Components.MediaGalleryPost, Telligent.Evolution.MediaGalleries], [Telligent.Evolution.Rest.Entities.RestMedia, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
				to="Telligent.Evolution.Rest.Resources.Media.MediaMapper, Telligent.Evolution.Rest"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Rest.Infrastructure.IMapperWithOptions`2[[Telligent.Evolution.Extensibility.Api.Entities.Version1.ActivityStory, Telligent.Evolution.Api], [Telligent.Evolution.Rest.Entities.RestActivityStory, Telligent.Evolution.Rest]], Telligent.Evolution.Rest"
        to="Telligent.Evolution.Rest.Resources.ActivityStories.ActivityStoryMapper, Telligent.Evolution.Rest"
        scope="singleton"/>


  <!-- Custom Action Registrars -->

</module>