<?xml version="1.0" encoding="utf-8"?>
<module name="RouteModule">

	<bind service="Telligent.Evolution.Common.IRouteRegistrar, Telligent.Evolution.Components"
				to="Telligent.Evolution.Common.RouteRegistrar, Telligent.Evolution.Components"
				scope="singleton"/>

	<!-- REST Routes -->

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.BlogRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.CfsRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
      to="Telligent.Evolution.Rest.Routes.FavoriteRouteRegistrar, Telligent.Evolution.Rest"
      scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
			to="Telligent.Evolution.Rest.Routes.FeatureRouteRegistrar, Telligent.Evolution.Rest"
			scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.ForumRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.FriendRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.GroupRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.InfoRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.MessagingRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.PermissionRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.SearchRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.UserPresenceRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.UserRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.WikiRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.ConversationRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.MediaRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.CommentRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.RatingRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
			    to="Telligent.Evolution.Rest.Routes.PluginRouteRegistrar, Telligent.Evolution.Rest"
			    scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.LikeRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.ActivityStoryRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.ContentRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Routes.MentionRouteRegistrar, Telligent.Evolution.Rest"
				scope="singleton"/>


  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
      to="Telligent.Evolution.Rest.Routes.TagsRouteRegistrar, Telligent.Evolution.Rest"
      scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
        to="Telligent.Evolution.Rest.Routes.AbuseRouteRegistrar, Telligent.Evolution.Rest"
        scope="singleton"/>

  <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
      to="Telligent.Evolution.Rest.Routes.ContentViewRouteRegistrar, Telligent.Evolution.Rest"
      scope="singleton"/>

  <!-- Custom REST Routes -->

	<!-- <bind service="Telligent.Evolution.Common.IRegisterRoutes, Telligent.Evolution.Components"
				to="Telligent.Evolution.Rest.Console.ConsoleRouteRegistrar, Telligent.Evolution.Rest.Console"
				scope="singleton" />  -->
				
</module>