<?xml version="1.0" encoding="utf-8"?>
<module name="ScriptedContentFragmentModule">

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentDataService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentDataService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentExtensionService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentExtensionService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentOutputCachingService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentOutputCachingService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentRenderingService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentRenderingService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentNVelocityDirectiveService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentNVelocityDirectiveService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentContextService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentContextService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentLanguageResourceService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentLanguageResourceService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentFileService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentFileService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentLoggingService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentLoggingService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentSerializer, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentSerializer, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IFactoryDefaultScriptedContentFragmentService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.FactoryDefaultScriptedContentFragmentService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IFactoryDefaultScriptedContentFragmentFileService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.FactoryDefaultScriptedContentFragmentFileService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IFactoryDefaultScriptedContentFragmentIdentifierService, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.FactoryDefaultScriptedContentFragmentIdentifierService, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentFileExecutionService, Telligent.Evolution.ScriptedContentFragments"
      to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentFileExecutionService, Telligent.Evolution.ScriptedContentFragments"
      scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.ICookieService, Telligent.Evolution.ScriptedContentFragments"
      to="Telligent.Evolution.ScriptedContentFragments.Implementations.CookieService, Telligent.Evolution.ScriptedContentFragments"
      scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IHeaderService, Telligent.Evolution.ScriptedContentFragments"
      to="Telligent.Evolution.ScriptedContentFragments.Implementations.HeaderService, Telligent.Evolution.ScriptedContentFragments"
      scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IMembershipService, Telligent.Evolution.ScriptedContentFragments"
      to="Telligent.Evolution.ScriptedContentFragments.Implementations.MembershipService, Telligent.Evolution.ScriptedContentFragments"
      scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentTextModeProvider, Telligent.Evolution.ScriptedContentFragments"
      to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentTextModeProvider, Telligent.Evolution.ScriptedContentFragments"
      scope="singleton"/>


  <bind service="Telligent.Evolution.Components.ApiDocumentation.IExtensionMetadataService`1[[Telligent.Evolution.Extensibility.UI.Version1.IScriptedContentFragmentExtension, Telligent.Evolution.ScriptedContentFragments]], Telligent.Evolution.Components"
      to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentExtensionMetadataService, Telligent.Evolution.ScriptedContentFragments"
      scope="singleton"/>

  <bind service="Telligent.Evolution.ScriptedContentFragments.Services.IScriptedContentFragmentExtensionMetadataStore, Telligent.Evolution.ScriptedContentFragments"
				to="Telligent.Evolution.ScriptedContentFragments.Implementations.ScriptedContentFragmentExtensionMetadataStore, Telligent.Evolution.ScriptedContentFragments"
				scope="singleton"/>

</module>