<?xml version="1.0" encoding="utf-8"?>
<module name="SecurityModule">

	<!-- Services -->

  <bind service="Telligent.Evolution.Components.IContextService, Telligent.Evolution.Components"
          to="Telligent.Evolution.Components.ContextService, Telligent.Evolution.Components"
          scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IRoleService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.RoleService, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IOwnerService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.OwnerService, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IRoles, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.RoleServiceAdapter, Telligent.Evolution.Components"
				scope="singleton"/>
	
	<!-- Blog Security Rules -->

  <bind service="Telligent.Evolution.Components.IAdditiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Blogs.Security.Rules.UsersCanModifyTheirOwnBlogPosts, Telligent.Evolution.Blogs"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Components.IAdditiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Blogs.Security.Rules.UsersCanDeleteTheirOwnBlogPosts, Telligent.Evolution.Blogs"
				scope="singleton"/>
  
	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Blogs.Security.Rules.UsersCannotCommentOnBlogPostsAfterACertainTime, Telligent.Evolution.Blogs"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Blogs.Security.Rules.UsersCannotCommentOnBlogPostsIfCommentsAreDisabled, Telligent.Evolution.Blogs"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Blogs.Security.Rules.UsersCannotCommentOnLockedBlogPosts, Telligent.Evolution.Blogs"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Blogs.Security.Rules.UsersCannotReadBlogWhenBlogsDisabled, Telligent.Evolution.Blogs"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
       to="Telligent.Evolution.Blogs.Security.Rules.UsersCannotRateBlogPostsWhenRatingsAreDisabled, Telligent.Evolution.Blogs"
       scope="singleton"/>
	
	<!-- Forum Security Rules -->

	<bind service="Telligent.Evolution.Components.IAdditiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCanDeleteTheirForumPostsForLimitedTime, Telligent.Evolution.Discussions"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Components.IAdditiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCanMarkReplyAsAnswerIfThreadIsTheirs, Telligent.Evolution.Discussions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IAdditiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCanModifyTheirForumPostsForLimitedTime, Telligent.Evolution.Discussions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCannotDeleteForumPostsThatHaveRepliesUnlessTheyHaveModeratePermission, Telligent.Evolution.Discussions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCannotDeleteForumPostsWithXmlContentType, Telligent.Evolution.Discussions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCannotMarkReplyAsAnswerIfThreadIsNotQuestionAndAnswerThread, Telligent.Evolution.Discussions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCannotModifyLockedForumPostsUnlessTheyHaveModeratePermission, Telligent.Evolution.Discussions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCannotReplyToForumPostsWithXmlContentType, Telligent.Evolution.Discussions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCannotReplyToLockedForumPostsUnlessTheyHaveModeratePermission, Telligent.Evolution.Discussions"
				scope="singleton"/>

    <bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCannotReadForumWhenForumsDisabled, Telligent.Evolution.Discussions"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCannotCreatePollsOnThreadsWhenLicenseDoesNotAllowIt, Telligent.Evolution.Discussions"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.Discussions.Security.Rules.UsersCannotCreatePollsOnRepliesWhenLicenseDoesNotAllowIt, Telligent.Evolution.Discussions"
				scope="singleton"/>

  <!-- Media Gallery Security Rules -->

	<bind service="Telligent.Evolution.Components.IAdditiveSecurityRule, Telligent.Evolution.Components"
				to="Telligent.Evolution.MediaGalleries.Security.Rules.UsersCanDeleteTheirMediaGalleryPosts, Telligent.Evolution.MediaGalleries"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IAdditiveSecurityRule, Telligent.Evolution.Components"
			to="Telligent.Evolution.MediaGalleries.Security.Rules.UsersCanModifyTheirMediaGalleryPosts, Telligent.Evolution.MediaGalleries"
			scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
			to="Telligent.Evolution.MediaGalleries.Security.Rules.UsersCannotCommentOnLockedMediaGalleryPosts, Telligent.Evolution.MediaGalleries"
			scope="singleton"/>

  <bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
			to="Telligent.Evolution.MediaGalleries.Security.Rules.UsersCannotCreateMediaGalleryPostsIfTheyCannotAddAttachments, Telligent.Evolution.MediaGalleries"
			scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
			to="Telligent.Evolution.MediaGalleries.Security.Rules.UsersCannotCommentOnMediaGalleryPostsIfCommentsAreDisabled, Telligent.Evolution.MediaGalleries"
			scope="singleton"/>

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
			to="Telligent.Evolution.MediaGalleries.Security.Rules.UsersCannotDeleteMediaGalleryPostsThatHaveReplies, Telligent.Evolution.MediaGalleries"
			scope="singleton"/>

    <bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
			to="Telligent.Evolution.MediaGalleries.Security.Rules.UsersCannotReadMediaGalleryWhenMediaGalleriesDisabled, Telligent.Evolution.MediaGalleries"
			scope="singleton"/>

  <bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
			to="Telligent.Evolution.MediaGalleries.Security.Rules.UsersCannotRateLockedMediaGalleryPostsWhenRatingsAreDisabled, Telligent.Evolution.MediaGalleries"
			scope="singleton"/>

	<!-- Wiki Security Rules -->

	<bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
			to="Telligent.Evolution.Wikis.Security.Rules.UsersCannotModifyLockedPagesUnlessTheyHaveLockPagePermission, Telligent.Evolution.Wikis"
			scope="singleton"/>

    <bind service="Telligent.Evolution.Components.ISubtractiveSecurityRule, Telligent.Evolution.Components"
			to="Telligent.Evolution.Wikis.Security.Rules.UsersCannotReadWikiWhenWikisDisabled, Telligent.Evolution.Wikis"
			scope="singleton"/>

</module>