<?xml version="1.0" encoding="utf-8"?>
<module name="SiteTermsModule">

  <bind service="Telligent.Evolution.Components.ISiteTermService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.SiteTermService, Telligent.Evolution.Components"
				scope="singleton"/>
  
</module>