<?xml version="1.0" encoding="utf-8"?>
<module name="TaskModule">

	<bind service="Telligent.Evolution.MailGateway.MailRoom.BulkEmailHandlers.IBulkEmailHandlerRegistry, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.BulkEmailHandlers.BulkEmailHandlerRegistry, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

	<bind service="Telligent.Evolution.MailGateway.MailRoom.BulkEmailHandlers.IBulkEmailUtility, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.BulkEmailHandlers.BulkEmailUtility, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>
	
	<bind service="Telligent.Evolution.MailGateway.MailRoom.Components.IEmailDispatcher, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Components.EmailDispatcher, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

</module>