<?xml version="1.0" encoding="utf-8"?>
<module name="TelligentSecurityModule">

	<bind service="Telligent.Common.Security.IEncode, Telligent.Common"
				to="Telligent.Common.Security.Encode, Telligent.Common"
				scope="singleton"/>

    <bind service="Telligent.Common.Security.IDecode, Telligent.Common"
				to="Telligent.Common.Security.Decode, Telligent.Common"
				scope="singleton"/>

    <bind service="Telligent.Common.IXmlConfigurationManager, Telligent.Common"
				to="Telligent.Evolution.Configuration.XmlConfigurationManager, Telligent.Evolution.Components"
				scope="singleton"/>

    <bind service="Telligent.Common.Security.IHtmlSanitizerRegex, Telligent.Common"
				to="Telligent.Evolution.Components.HtmlSanitizerRegex, Telligent.Evolution.Components"
				scope="singleton"/>

    <bind service="Telligent.Common.Security.IHtmlSanitizerConfiguration, Telligent.Common"
				to="Telligent.Common.Security.HtmlSanitizerConfiguration, Telligent.Common"
				scope="singleton"/>

    <bind service="Telligent.Common.Security.IHtmlSanitizer, Telligent.Common"
				to="Telligent.Common.Security.HtmlSanitizer, Telligent.Common"
				scope="singleton"/>

  <bind service="Telligent.Common.Security.IXmlSanitizer, Telligent.Common"
      to="Telligent.Common.Security.XmlSanitizer, Telligent.Common"
      scope="singleton"/>

</module>