<?xml version="1.0" encoding="utf-8"?>
<module name="UsersModule">

  <bind service="Telligent.Evolution.Components.IUserDataService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.UserDataService, Telligent.Evolution.Components"
				scope="singleton"/>
	
	<bind service="Telligent.Evolution.Components.IOAuthClientFactory, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.OAuthClientFactory, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Components.IOAuthDataProvider, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.OAuthDataProvider, Telligent.Evolution.Components"
				scope="singleton"/>
	
  <bind service="Telligent.Evolution.Components.IUserService, Telligent.Evolution.Components"
        to="Telligent.Evolution.Components.UserService, Telligent.Evolution.Components"
        scope="singleton"/>

    <bind service="Telligent.Evolution.OAuth.Version1.IOAuth, Telligent.Evolution.OAuth"
				to="Telligent.Evolution.OAuth.Version1.OAuthService, Telligent.Evolution.OAuth"
				scope="singleton"/>

    <bind service="Telligent.Evolution.OAuth.Version2.IOAuth, Telligent.Evolution.OAuth"
				to="Telligent.Evolution.OAuth.Version2.OAuthService, Telligent.Evolution.OAuth"
				scope="singleton"/>
</module>