<?xml version="1.0" encoding="utf-8"?>
<module name="UserProfileModule">

	<bind service="Telligent.Evolution.Components.IUserProfileService, Telligent.Evolution.Components"
				to="Telligent.Evolution.Components.UserProfileService, Telligent.Evolution.Components"
				scope="singleton"/>

	<bind service="Telligent.Evolution.Configuration.IXmlStorageService, Telligent.Evolution.Components"
			to="Telligent.Evolution.Configuration.XmlStorageService, Telligent.Evolution.Components"
			scope="singleton"/>

  <bind service="Telligent.Evolution.Components.IExternalProfileService, Telligent.Evolution.Components"
			to="Telligent.Evolution.Components.ExternalProfileService, Telligent.Evolution.Components"
			scope="singleton"/>

</module>