<?xml version="1.0" encoding="utf-8"?>
<module name="VelocityExtensions">
  
		<!-- Scripted Widget Mappings -->
	
    <bind service="Telligent.Evolution.VelocityExtensions.IBlogPostsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.BlogPostsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.ICustomPagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.CustomPagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentMessages, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.Messages, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentUserFolders, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.UserFolders, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentUserFiles, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.UserFiles, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentUserProfileFields, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.UserProfileFields, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentUserProfileFieldGroups, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.UserProfileFieldGroups, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IUsersScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.UsersScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IMediaScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.MediaScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IBlogCommentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.BlogCommentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IBlogPostSummariesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.BlogPostSummariesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IForumThreadsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.ForumThreadsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentFollows, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.Follows, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentUserValidations, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.UserValidations, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentInfoResults, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.InfoResults, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IForumRepliesScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.ForumRepliesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.ISearchResultsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.SearchResultsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IConversationsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.ConversationsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />
  
    <bind service="Telligent.Evolution.VelocityExtensions.ICfssScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.CfssScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IWikiPagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.WikiPagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

	  <bind service="Telligent.Evolution.VelocityExtensions.IWikiPageRevisionsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.WikiPageRevisionsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IWikiPageRevisionsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.WikiPageRevisionsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentNodePermissions, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.NodePermissions, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IActivityMessagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.ActivityMessagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IGroupsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
        to="Telligent.Evolution.VelocityExtensions.GroupsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
        scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IFollowersScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.FollowersScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentUserPresences, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.UserPresences, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentGroupUserMembers, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.GroupUserMembers, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

	  <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentGroupRoleMembers, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.GroupRoleMembers, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IConversationMessagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.ConversationMessagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentWikiTocs, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.WikiTocs, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IStatusMessagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.StatusMessagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IWikiCommentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.WikiCommentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

	  <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentWikiFiles, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.WikiFiles, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IMediaCommentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.MediaCommentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IForumsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.ForumsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IBlogsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.BlogsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentRoles, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.Roles, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentRoleUsers, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.RoleUsers, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />	
	
    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentPermissions, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.Permissions, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IFriendshipsScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.FriendshipsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IGalleriesScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.GalleriesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IReplyMessagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.ReplyMessagesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IWikisScriptedContentFragment, Telligent.Evolution.VelocityExtensions" 
          to="Telligent.Evolution.VelocityExtensions.WikisScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

	  <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentGroupContactRequests, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.GroupContactRequests, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentFavorites, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.Favorites, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentFeatures, Telligent.Evolution.VelocityExtensions"
        to="Telligent.Evolution.VelocityExtensions.Features, Telligent.Evolution.VelocityExtensions"
        scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IAuthenticationScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.AuthenticationScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IUserInvitationsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.UserInvitationsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />
  
    <bind service="Telligent.Evolution.VelocityExtensions.IScriptedContentFragmentRssFeedItems, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.ScriptedContentFragmentRssFeedItems, Telligent.Evolution.VelocityExtensions"
          scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IEnsure, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.Ensure, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IWidget, Telligent.Evolution.VelocityExtensions"
				  to="Telligent.Evolution.VelocityExtensions.Widget, Telligent.Evolution.VelocityExtensions"
				  scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IEditor, Telligent.Evolution.VelocityExtensions"
		   		to="Telligent.Evolution.VelocityExtensions.Editor, Telligent.Evolution.VelocityExtensions"
				  scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IEncoding, Telligent.Evolution.VelocityExtensions"
		  		to="Telligent.Evolution.VelocityExtensions.Encoding, Telligent.Evolution.VelocityExtensions"
			  	scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.ILanguageScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
		  		to="Telligent.Evolution.VelocityExtensions.LanguageScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
			  	scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.ICoreUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.CoreUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IGroupUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.GroupUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.ITags, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.Tags, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

  <bind service="Telligent.Evolution.VelocityExtensions.ITaggedContents, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.TaggedContents, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.ICoreUtilityScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.CoreUtilityScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>
 
    <bind service="Telligent.Evolution.VelocityExtensions.IMediaUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.MediaUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IForumUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.ForumUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IForumConfiguration, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.ForumConfiguration, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IBlogUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.BlogUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IWikiUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.WikiUrlsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IUI, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.UI, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IDynamicFormScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.DynamicFormScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.ICoreConfigurationScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.CoreConfigurationScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IEditableGroup, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.EditableGroup, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IPage, Telligent.Evolution.VelocityExtensions"
		  		to="Telligent.Evolution.VelocityExtensions.Page, Telligent.Evolution.VelocityExtensions"
			  	scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.IUploadedFiles, Telligent.Evolution.VelocityExtensions"
		  		to="Telligent.Evolution.VelocityExtensions.UploadedFiles, Telligent.Evolution.VelocityExtensions"
			  	scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.ISearch, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.SearchService, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

    <bind service="Telligent.Evolution.VelocityExtensions.ICustomNavigationScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				  to="Telligent.Evolution.VelocityExtensions.CustomNavigationScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				  scope="singleton"/>

		<bind service="Telligent.Evolution.VelocityExtensions.IEmailDigestSubscriptionsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
					to="Telligent.Evolution.VelocityExtensions.EmailDigestSubscriptionsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
					scope="singleton" />

    <bind service="Telligent.Evolution.VelocityExtensions.IEmoticonsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.EmoticonsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.ILdapGroupsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.LdapGroups, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.ILdapUsersScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.LdapUsers, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.IWikiConfiguration, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.WikiConfiguration, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.IBlogConfiguration, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.BlogConfiguration, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.IMediaConfiguration, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.MediaConfiguration, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.IWikiUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
			to="Telligent.Evolution.VelocityExtensions.WikiUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
			scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.IApiKeysScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
		  to="Telligent.Evolution.VelocityExtensions.ApiKeysScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
		  scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IRanksScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
        to="Telligent.Evolution.VelocityExtensions.RanksScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
        scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IRatingsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.RatingsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IRatedItemsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.RatedItemsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.ILikesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.LikesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.ICommentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.CommentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IActivityStoriesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
      to="Telligent.Evolution.VelocityExtensions.ActivityStoriesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
      scope="singleton" />

		<bind service="Telligent.Evolution.VelocityExtensions.IModerationTemplatesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.ModerationTemplatesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IContentTypesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.ContentTypesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IApplicationTypesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.ApplicationTypesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IContainerTypesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.ContainerTypesScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IAuthorQualityScoreScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.AuthorQualityScoreScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IContentQualityScoreScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
     to="Telligent.Evolution.VelocityExtensions.ContentQualityScoreScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
     scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IGroupAuthorQualityScoreScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.GroupAuthorQualityScoreScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IContentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
     to="Telligent.Evolution.VelocityExtensions.ContentsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
     scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IApplicationsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.ApplicationsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IContainersScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.ContainersScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <!-- Email Templates -->

		<bind service="Telligent.Evolution.VelocityExtensions.IActivityMessagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.ActivityMessagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

		<bind service="Telligent.Evolution.VelocityExtensions.IBlogCommentsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.BlogCommentsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

		<bind service="Telligent.Evolution.VelocityExtensions.IBlogPostsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.BlogPostsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IBlogsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.BlogsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IBlogUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.BlogUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.ICoreConfigurationEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.CoreConfigurationEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.ICoreUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.CoreUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.ICoreUtilityEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.CoreUtilityEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.IForumUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.ForumUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.ILanguageEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.LanguageEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.IForumThreadsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.ForumThreadsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IEmailDigestSubscriptionsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.EmailDigestSubscriptionsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IMediaUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.MediaUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.IGroupUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.GroupUrlsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton"/>

  <bind service="Telligent.Evolution.VelocityExtensions.IEmoticonsEmailTemplate, Telligent.Evolution.VelocityExtensions"
          to="Telligent.Evolution.VelocityExtensions.EmoticonsEmailTemplate, Telligent.Evolution.VelocityExtensions"
          scope="singleton"/>

	<bind service="Telligent.Evolution.VelocityExtensions.IConversationMessagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.ConversationMessagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IReplyMessagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.ReplyMessagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IStatusMessagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.StatusMessagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.MailGateway.MailRoom.Extensibility.IMessagesEmailTemplate, Telligent.Evolution.MailGateway.MailRoom"
				to="Telligent.Evolution.MailGateway.MailRoom.Extensibility.MessagesEmailTemplate, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IFollowersEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.FollowersEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IForumRepliesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.ForumRepliesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IForumsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.ForumsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IFriendshipsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.FriendshipsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IGalleriesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.GalleriesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IGroupsEmailTemplate, Telligent.Evolution.VelocityExtensions"
			to="Telligent.Evolution.VelocityExtensions.GroupsEmailTemplate, Telligent.Evolution.VelocityExtensions"
			scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IMediaEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.MediaEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IMediaCommentsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.MediaCommentsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IUserInvitationsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.UserInvitationsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IUsersEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.UsersEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IWikiCommentsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.WikiCommentsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IWikiPagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.WikiPagesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

	<bind service="Telligent.Evolution.VelocityExtensions.IWikisEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.WikisEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />
  
  <bind service="Telligent.Evolution.VelocityExtensions.IRatingsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.RatingsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IRatedItemsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.RatedItemsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.ILikesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.LikesEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.ICommentsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				to="Telligent.Evolution.VelocityExtensions.CommentsEmailTemplate, Telligent.Evolution.VelocityExtensions"
				scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IContentViewsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
                to="Telligent.Evolution.VelocityExtensions.ContentViewsScriptedContentFragment, Telligent.Evolution.VelocityExtensions"
                scope="singleton" />    
    
  <bind service="Telligent.Evolution.VelocityExtensions.ISearchResultsEmailTemplate, Telligent.Evolution.VelocityExtensions"
        to="Telligent.Evolution.VelocityExtensions.SearchResultsEmailTemplate, Telligent.Evolution.VelocityExtensions"
        scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IActivityStoriesEmailTemplate, Telligent.Evolution.VelocityExtensions"
    to="Telligent.Evolution.VelocityExtensions.ActivityStoriesEmailTemplate, Telligent.Evolution.VelocityExtensions"
    scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IContentTypesEmailTemplate, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.ContentTypesEmailTemplate, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IApplicationTypesEmailTemplate, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.ApplicationTypesEmailTemplate, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IContainerTypesEmailTemplate, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.ContainerTypesEmailTemplate, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IAuthorQualityScoreEmailTemplate, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.AuthorQualityScoreEmailTemplate, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IContentQualityScoreEmailTemplate, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.ContentQualityScoreEmailTemplate, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <bind service="Telligent.Evolution.VelocityExtensions.IGroupAuthorQualityScoreEmailTemplate, Telligent.Evolution.VelocityExtensions"
       to="Telligent.Evolution.VelocityExtensions.GroupAuthorQualityScoreEmailTemplate, Telligent.Evolution.VelocityExtensions"
       scope="singleton" />

  <!-- Mappers -->
	
    <bind service="Telligent.Evolution.Api.Entities.Mappers.IMapper`2[[Telligent.Evolution.Components.ApiKey, Telligent.Evolution.Components], [Telligent.Evolution.VelocityExtensions.Entities.ApiKey, Telligent.Evolution.VelocityExtensions]], Telligent.Evolution.Api"
        to="Telligent.Evolution.VelocityExtensions.Mappers.ApiKeyMapper, Telligent.Evolution.VelocityExtensions"
		scope="singleton"/>

	<!-- Misc, Domain Services, Etc. -->

	<bind service="Telligent.Evolution.VelocityExtensions.Services.IApiKeysService, Telligent.Evolution.VelocityExtensions"
        to="Telligent.Evolution.VelocityExtensions.Services.ApiKeyService, Telligent.Evolution.VelocityExtensions"
        scope="singleton" />

</module>
