<?xml version="1.0" encoding="utf-8"?>
<module name="WeblogsModule">

  <bind service="Telligent.Evolution.Blogs.Components.IWeblogDataService, Telligent.Evolution.Blogs"
				to="Telligent.Evolution.Blogs.Components.WeblogDataService, Telligent.Evolution.Blogs"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Blogs.Components.IWeblogPostDataService, Telligent.Evolution.Blogs"
				to="Telligent.Evolution.Blogs.Components.WeblogPostDataService, Telligent.Evolution.Blogs"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Blogs.Components.WeblogsObserverableDataService, Telligent.Evolution.Blogs"
				to="Telligent.Evolution.Blogs.Components.WeblogsObserverableDataService, Telligent.Evolution.Blogs"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Blogs.Components.IWeblogPostActivityMessageService, Telligent.Evolution.Blogs"
        to="Telligent.Evolution.Blogs.Components.WeblogPostActivityMessageService, Telligent.Evolution.Blogs"
        scope="singleton"/>

</module>