<?xml version="1.0" encoding="utf-8"?>
<module name="WikisModule">

  <bind service="Telligent.Evolution.Wikis.Components.IWikiDataService, Telligent.Evolution.Wikis"
				to="Telligent.Evolution.Wikis.Components.WikiDataService, Telligent.Evolution.Wikis"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Wikis.Components.WikisObserverableDataService, Telligent.Evolution.Wikis"
				to="Telligent.Evolution.Wikis.Components.WikisObserverableDataService, Telligent.Evolution.Wikis"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Wikis.Components.IWikiEmailsProvider, Telligent.Evolution.Wikis"
				to="Telligent.Evolution.MailGateway.MailRoom.Provider.WikiEmailsProvider, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

  <bind service="Telligent.Evolution.Api.Comments.Email.IWikiCommentEmailProvider, Telligent.Evolution.Api"
				to="Telligent.Evolution.MailGateway.MailRoom.Provider.WikiEmailsProvider, Telligent.Evolution.MailGateway.MailRoom"
				scope="singleton"/>

  <bind service="Telligent.Evolution.CoreServices.Notification.Interfaces.ICommentNotificationService, Telligent.Evolution.Core"
        to="Telligent.Evolution.CoreServices.Notification.Implementation.CommentNotificationService, Telligent.Evolution.Core"
        scope="singleton"/>
</module>