<?xml version="1.0" encoding="utf-8"?>
<jobs>
  <dynamic mode="Client" threadPoolSize="3">
    <jobstore connectionStringName="SiteSqlServer" tablePrefix="QRTZ_DYNAMIC_" />
  </dynamic>
  <cron threadPoolSize="3">
    <jobstore type="Quartz.Simpl.RAMJobStore, Quartz" />
    <statusService enabled="true" localOnly="true" />
    <jobListeners>
      <add type="Telligent.JobScheduler.Evolution.EvolutionJobListener, Telligent.JobScheduler.Evolution" />
    </jobListeners>
    <modules>
      <add type="Telligent.JobScheduler.Evolution.EvolutionJobModule, Telligent.JobScheduler.Evolution" />
    </modules>
    <jobs>
      <job schedule="0 */15 * * * ? *" type="Telligent.Evolution.Components.AnonymousUserJob, Telligent.Evolution.Components" />
<!--
      <job schedule="0 */15 * * * ? *" type="Telligent.Evolution.Components.ViewsJob, Telligent.Evolution.Components" />
      <job schedule="0 */15 * * * ? *" type="Telligent.Evolution.Wikis.Components.PageViewsJob, Telligent.Evolution.Wikis" />
-->
      <job schedule="*/30 * * * * ? *" type="Telligent.Evolution.Components.PluginSynchronizationJob, Telligent.Evolution.Components" />

    </jobs>
  </cron>
</jobs>