<configuration>
  <configSections>
    <section name="jobs" type="Telligent.JobScheduler.Configuration.JobsConfigurationSection, Telligent.JobScheduler" />
    <section name="TinyMCE" type="Moxiecode.TinyMCE.ConfigHandler,Moxiecode.TinyMCE" requirePermission="false" />
    <section name="telligent.caching" type="Telligent.Caching.Configuration.CachingConfigurationSection, Telligent.Caching" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Telligent.Glow.MultipleFileUpload.FileManagerProvider" value="Telligent.Evolution.Components.MultipleUploadFileManager, Telligent.Evolution.Components" />
    <add key="Telligent.Glow.MultipleFileUpload.UploadHandlerUrl" value="~/multipleupload.ashx" />
  </appSettings>
  <connectionStrings configSource="connectionStrings.config" />
  <jobs configSource="tasks.config" />
  <telligent.caching configSource="caching.config" />
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="20480" maxUrlLength="2048" requestValidationMode="2.0" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!-- Standard Application Settings -->
    <compilation defaultLanguage="c#" debug="false" targetFramework="4.0">
    </compilation>
    <pages validateRequest="false" enableEventValidation="false" enableViewState="true" autoEventWireup="true" pageBaseType="Telligent.Evolution.Components.CSPage, Telligent.Evolution.Components" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="TEControl" namespace="Telligent.Evolution.Controls" assembly="Telligent.Evolution.Controls" />
        <add tagPrefix="TEBlog" namespace="Telligent.Evolution.Blogs.Controls" assembly="Telligent.Evolution.Blogs" />
        <add tagPrefix="TEForum" namespace="Telligent.Evolution.Discussions.Controls" assembly="Telligent.Evolution.Discussions" />
        <add tagPrefix="TEMail" namespace="Telligent.Evolution.MailGateway.MailRoom.Controls" assembly="Telligent.Evolution.MailGateway" />
        <add tagPrefix="TEMedia" namespace="Telligent.Evolution.MediaGalleries.Controls" assembly="Telligent.Evolution.MediaGalleries" />
        <add tagPrefix="TEDynConfig" namespace="Telligent.DynamicConfiguration.Controls" assembly="Telligent.DynamicConfiguration" />
        <add tagPrefix="TEMessage" namespace="Telligent.Evolution.Messages.Controls" assembly="Telligent.Evolution.Messages" />
        <add tagPrefix="TEWiki" namespace="Telligent.Evolution.Wikis.Controls" assembly="Telligent.Evolution.Wikis" />
        <add tagPrefix="TWC" namespace="Telligent.Glow" assembly="Telligent.Glow" />
        <add tagPrefix="CP" namespace="Telligent.Evolution.ControlPanel.Controls" assembly="Telligent.Evolution.Web" />
      </controls>
      <namespaces>
        <add namespace="Telligent.Evolution.Controls.Extensions" />
      </namespaces>
    </pages>
    <trace enabled="false" requestLimit="40" localOnly="true" />
    <sessionState mode="Off" />
    <!-- Permit detailed errors to be displayed for remote clients -->
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/error.aspx">
      <error statusCode="404" redirect="~/themes/generic/common/error-notfound.aspx" />
    </customErrors>
    <!-- START - Telligent.Evolution specific application settings here -->
    <httpModules>
      <add name="Telligent.Evolution" type="Telligent.Evolution.CSHttpModule, Telligent.Evolution.Components" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="aggbug.aspx" type="Telligent.Evolution.Components.HttpHandler.AggBugHandler, Telligent.Evolution.Components" validate="false" />
      <add verb="GET" path="avatar.aspx" type="Telligent.Evolution.Components.HttpHandler.AvatarHttpHandler, Telligent.Evolution.Components" validate="false" />
      <add verb="GET" path="vcard.aspx" type="Telligent.Evolution.Components.HttpHandler.VCardHttpHandler, Telligent.Evolution.Components" validate="false" />
      <add verb="GET" path="r.ashx" type="Telligent.Evolution.Components.HttpHandler.TinyUrlHttpHandler, Telligent.Evolution.Components" validate="false" />
      <add verb="GET" path="weblogsubscription-confirmation.ashx" type="Telligent.Evolution.Blogs.Components.WeblogSubscriptionConfirmation, Telligent.Evolution.Blogs" validate="false" />
      <add verb="GET" path="threadsubscription-confirmation.ashx" type="Telligent.Evolution.Blogs.Components.ThreadSubscriptionConfirmation, Telligent.Evolution.Blogs" validate="false" />
      <add verb="GET,HEAD" path="cfs-file.ashx" type="Telligent.Evolution.Components.FileHttpHandler, Telligent.Evolution.Components" validate="false" />
      <add verb="GET,POST" path="callback.ashx" type="Telligent.Evolution.Components.HttpCallbackHandler, Telligent.Evolution.Components" validate="false" />
      <add verb="GET" path="css-classnameexpansion.ashx" type="Telligent.Evolution.Components.CssClassNameExpansionHttpHandler, Telligent.Evolution.Components" validate="false" />
      <add verb="GET,HEAD" path="cfs-filesystemfile.ashx" type="Telligent.Evolution.Extensibility.Storage.Providers.Version1.FileSystemFileStorageHttpHandler, Telligent.Evolution.Components" validate="false" />
      <add verb="GET,HEAD" path="resized-image.ashx" type="Telligent.Evolution.Components.ImageFileResizerHttpHandler, Telligent.Evolution.Components" validate="false" />
      <add verb="GET,POST" path="multipleupload.ashx" type="Telligent.Glow.MultipleUploadFileHandler, Telligent.Glow" validate="false" />
      <add verb="GET,HEAD,POST" path="TinyMCE.ashx" type="Moxiecode.TinyMCE.Web.HttpHandler,Moxiecode.TinyMCE" validate="false" />
      <add verb="GET,POST" path="api.ashx" type="Telligent.Evolution.Rest.Infrastructure.RestHttpHandler, Telligent.Evolution.Rest" validate="false" />
      <add verb="GET" path="oauth.ashx" type="Telligent.Evolution.Components.HttpHandler.OAuthHandler, Telligent.Evolution.Components" validate="false" />
    </httpHandlers>
    <!--
		authentication :
			To use Windows Authentication, you must turn off Anonymous authentication in IIS
			or IIS will never pass the user credentials to the forums.

			To enable Windows Authentication, simply comment out the forms authentication section
			below and uncomment the Windows Authentication stuff.

			To use the CookieAuthentication add-on module, set the authentication mode to "None" and
			comment out the forms element.
		-->
    <authentication mode="Forms">
      <forms name=".Telligent.Evolution" protection="All" timeout="10080" loginUrl="login.aspx" slidingExpiration="false" />
    </authentication>
    <membership userIsOnlineTimeWindow="15" defaultProvider="Telligent.EvolutionSqlProvider">
      <providers>
        <clear />
        <add name="Telligent.EvolutionSqlProvider" type="Telligent.Evolution.AspNetMembership.MembershipProvider, Telligent.Evolution.Core" enableMultipleEvolutionSites="false" connectionStringName="SiteSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" applicationName="dev" description="Stores and retrieves membership data from the local Microsoft SQL Server database" maxInvalidPasswordAttempts="5" passwordAttemptWindow="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <roleManager defaultProvider="Telligent.EvolutionSqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".CSRoles" cookieTimeout="60000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="true" cookieProtection="All" maxCachedResults="1000">
      <providers>
        <clear />
        <add name="Telligent.EvolutionSqlProvider" type="Telligent.Evolution.AspNetMembership.RoleProvider, Telligent.Evolution.Core" connectionStringName="SiteSqlServer" applicationName="dev" description="Stores and retrieves roles data from the local Microsoft SQL Server database" />
      </providers>
    </roleManager>
    <profile defaultProvider="Telligent.EvolutionSqlProvider" enabled="true">
      <providers>
        <clear />
        <add name="Telligent.EvolutionSqlProvider" type="Telligent.Evolution.AspNetMembership.ProfileProvider, Telligent.Evolution.Core" connectionStringName="SiteSqlServer" applicationName="dev" description="Stores and retrieves profile data from the local Microsoft SQL Server database" />
      </providers>
      <properties>
        <add name="commonName" type="string" />
        <add name="birthdate" type="DateTime" />
        <add name="gender" type="int" defaultValue="0" />
        <add name="dateFormat" type="string" />
        <add name="publicEmail" type="string" />
        <add name="language" type="string" />
        <add name="webAddress" type="string" />
        <add name="webLog" type="string" />
        <add name="webGallery" type="string" />
        <add name="signature" type="string" />
        <add name="signatureFormatted" type="string" />
        <add name="language" type="string" />
        <add name="location" type="string" />
        <add name="occupation" type="string" />
        <add name="interests" type="string" />
        <add name="msnIM" type="string" />
        <add name="yahooIM" type="string" />
        <add name="aolIM" type="string" />
        <add name="icqIM" type="string" />
        <add name="enablePostPreviewPopup" type="System.Boolean" defaultValue="false" />
        <add name="enableEmoticons" type="System.Boolean" defaultValue="true" />
        <add name="timezone" type="System.Double" defaultValue="0" />
        <add name="timeZoneInfo" type="string" />
        <add name="fontsize" type="int" defaultValue="0" />
        <add name="bio" type="string" />
      </properties>
    </profile>
    <!--<trust level="Medium" />-->
    <!--
		========================
		Anonymous Identification
		========================
		anonymousIdentification configuration:
			enabled="[true|false]"                            Feature is enabled?
			cookieName=".ASPXANONYMOUS"                       Cookie Name
			cookieTimeout="100000"                            Cookie Timeout in minutes
			cookiePath="/"                                    Cookie Path
			cookieRequireSSL="[true|false]"                   Set Secure bit in Cookie
			cookieSlidingExpiration="[true|false]"            Reissue expiring cookies?
			cookieProtection="[None|Validation|Encryption|All]"  How to protect cookies from being read/tampered
			domain="[domain]"                                 Enables output of the "domain" cookie attribute set to the specified value
			-->
    <anonymousIdentification enabled="false" cookieName=".ASPXANONYMOUS" cookieTimeout="100000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None" domain="" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2097152">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="user/EditProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="user/conversations">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Telligent.Evolution" />
      <add name="Telligent.Evolution" type="Telligent.Evolution.CSHttpModule, Telligent.Evolution.Components" />
      <!-- uncomment this next line (along with the handler below) to enable Extended Analytics -->
      <!-- <add name="JavascriptAnalyticsHttpModule" type="Telligent.Evolution.ExtendedAnalytics.JavascriptAnalyticsHttpModule, Telligent.Evolution.ExtendedAnalytics" /> -->
    </modules>
    <handlers accessPolicy="Read, Write, Script, Execute">
      <add verb="GET" name="aggbug" path="aggbug.aspx" type="Telligent.Evolution.Components.HttpHandler.AggBugHandler, Telligent.Evolution.Components" />
      <add verb="GET" name="avatar" path="avatar.aspx" type="Telligent.Evolution.Components.HttpHandler.AvatarHttpHandler, Telligent.Evolution.Components" />
      <add verb="GET" name="vcard" path="vcard.aspx" type="Telligent.Evolution.Components.HttpHandler.VCardHttpHandler, Telligent.Evolution.Components" />
      <add verb="GET" name="tinyurl" path="r.ashx" type="Telligent.Evolution.Components.HttpHandler.TinyUrlHttpHandler, Telligent.Evolution.Components" />
      <add verb="GET" name="weblogsubscription-confirmation" path="weblogsubscription-confirmation.ashx" type="Telligent.Evolution.Blogs.Components.WeblogSubscriptionConfirmation, Telligent.Evolution.Blogs" />
      <add verb="GET" name="threadsubscription-confirmation" path="threadsubscription-confirmation.ashx" type="Telligent.Evolution.Blogs.Components.ThreadSubscriptionConfirmation, Telligent.Evolution.Blogs" />
      <add verb="GET,HEAD" name="cfs-file" path="cfs-file.ashx" type="Telligent.Evolution.Components.FileHttpHandler, Telligent.Evolution.Components" />
      <add verb="GET,POST" name="httpcallback" path="callback.ashx" type="Telligent.Evolution.Components.HttpCallbackHandler, Telligent.Evolution.Components" />
      <add verb="GET,HEAD" name="cfs-filesystemfile" path="cfs-filesystemfile.ashx" type="Telligent.Evolution.Extensibility.Storage.Providers.Version1.FileSystemFileStorageHttpHandler, Telligent.Evolution.Components" />
      <add verb="GET" name="css-classnameexpansion" path="css-classnameexpansion.ashx" type="Telligent.Evolution.Components.CssClassNameExpansionHttpHandler, Telligent.Evolution.Components" />
      <add verb="GET,HEAD" name="resized-image" path="resized-image.ashx" type="Telligent.Evolution.Components.ImageFileResizerHttpHandler, Telligent.Evolution.Components" />
      <add verb="GET,POST" name="multipleupload" path="multipleupload.ashx" type="Telligent.Glow.MultipleUploadFileHandler, Telligent.Glow" />
      <add name="TinyMCE" verb="GET,HEAD,POST" path="TinyMCE.ashx" type="Moxiecode.TinyMCE.Web.HttpHandler,Moxiecode.TinyMCE" />
      <add name="OAuthLogin" verb="GET" path="oauth.ashx" type="Telligent.Evolution.Components.HttpHandler.OAuthHandler, Telligent.Evolution.Components" />
      <!-- uncomment these next two lines (along with the module above) to enable Extended Analytics and Analytics URLs -->
      <!-- <add verb="GET" name="analytics" path="analytics.ashx" type="Telligent.Evolution.ExtendedAnalytics.ExtendedAnalyticsRequestHandler, Telligent.Evolution.ExtendedAnalytics" /> -->
      <!-- <add verb="GET" name="analyticsUrls" path="/utility/analytics/router.aspx" type="Telligent.Evolution.AnalyticsUrls.Http.AnalyticsUrlHttpHandler, Telligent.Evolution.AnalyticsUrls" /> -->
    </handlers>
  </system.webServer>
</configuration>