<?xml version="1.0" encoding="utf-8" ?>
<TabCollection>
  <Tabs>
    <Tab resourcename="CP_Settings_NavBar_SiteConfiguration" name="ContentSecurity">
      <SubTabs>
        <Tab resourcename="CP_Settings_Setup" urlname="settings_ControlPanel_Setup" name="SettingsSetup" />
        <Tab resourcename="CP_Tools_NavBar_ManageLicenses" urlname="tools_ControlPanel_Licenses" name="ToolsLicenses" />
        <Tab resourcename="CP_Tools_NavBar_ManageScores" urlname="tools_ControlPanel_ManageScores" name="ManageScores" />
        <Tab resourcename="CP_Tools_NavBar_ManagePoints" urlname="tools_ControlPanel_PointSystem" name="ToolsPoints" />
        <Tab resourcename="ManagePlugins_Title" urlname="settings_ControlPanel_ManagePlugins" name="ManagePlugins" />
        <Tab resourcename="ManageOAuthClients_Title" urlname="settings_ControlPanel_ManageOAuthClients" name="ManageOAuthClients" />
        <Tab resourcename="CP_Settings_AdvancedConfiguration" urlname="settings_ControlPanel_AdvancedConfiguration" name="AdvancedConfiguration" />
      </SubTabs>
    </Tab>
    <Tab resourcename="CP_Settings_NavBar_SiteContent" name="ContentSecurity">
      <SubTabs>
        <Tab resourcename="CP_Settings_ThemeConfigurationSettings" urlname="settings_ControlPanel_ThemeConfiguration" name="ThemeConfigurationSettings" />
        <Tab resourcename="CP_Settings_CustomPageManagement" urlname="settings_ControlPanel_CustomPageManagement" name="CustomPageManagement" />
        <Tab resourcename="CP_Settings_ManageThemes" urlname="settings_ControlPanel_ManageThemes" name="ManageThemes" />
        <Tab resourcename="CP_Settings_Files" urlname="site_manage_files_root" name="SiteFiles" />
        <Tab resourcename="CP_Settings_UserFiles" urlname="settings_userfiles" name="UserFiles" />
        <Tab resourcename="CP_Tools_NavBar_ManageAds" urlname="tools_ControlPanel_ManageAds" name="ManageAds" />
        <Tab resourcename="CP_Tools_NavBar_UrlRedirects" urlname="tools_ControlPanel_Redirects" name="ToolsRedirects" />
        <Tab resourcename="CP_Tools_NavBar_ContentFilters_Emoticon" urlname="tools_ControlPanel_EmoticonFilter" name="ToolsContentFiltersEmoticon" />
        <Tab resourcename="CP_Settings_SiteTerms" urlname="settings_ControlPanel_SiteTerms" name="SiteTerms" />
      </SubTabs>
    </Tab>
    <Tab resourcename="CP_Settings_NavBar_ContentSiteSecurity" name="ContentSecurity">
      <SubTabs>
        <Tab resourcename="CP_Tools_NavBar_ContentFilters_Username" urlname="tools_ControlPanel_UsernameFilter" name="ToolsContentFiltersUsername" />
        <Tab resourcename="CP_Tools_NavBar_ContentFilters_WordReplacement" urlname="tools_ControlPanel_WordReplacementFilter" name="ToolsContentFiltersWordReplacement" />
        <Tab resourcename="CP_Tools_NavBar_ManageSpam" urlname="tools_ControlPanel_SpamRules" name="ToolsSpam" />
        <Tab resourcename="CP_Tools_NavBar_IPAddress" urlname="tools_ControlPanel_ManageIP" name="ToolsManageIP" />
      </SubTabs>
    </Tab>
    <Tab resourcename="CP_Settings_NavBar_Tools" name="Tools">
      <SubTabs>
        <Tab resourcename="CP_Tools_NavBar_MassEmail" urlname="tools_ControlPanel_MassEmailingAdmin" name="ToolsEmailAdmin" />
        <Tab resourcename="CP_Tools_NavBar_ExceptionsReport" urlname="reports_ControlPanel_ExceptionsReport" name="ExceptionsReport" />
        <Tab resourcename="CP_Tools_NavBar_JobsReport" urlname="reports_ControlPanel_Jobs" name="JobsReport" />
        <Tab resourcename="CP_Tools_NavBar_EventLog" urlname="tools_ControlPanel_EventLogViewer" name="ToolsEvents" />
      </SubTabs>
    </Tab>
    <Tab resourcename="CP_Settings_NavBar_WidgetStudio" name="Widgets">
      <SubTabs>
        <Tab resourcename="CP_Tools_NavBar_Widgets_Permissions" urlname="tools_ControlPanel_ManageWidgets" name="ToolsManageWidgets" />
        <Tab resourcename="CP_Tools_NavBar_Widgets_Editing" urlname="tools_ControlPanel_ListWidgets" name="ToolsListWidgets" />
        <Tab resourcename="CP_Tools_NavBar_Widgets_Replacement" urlname="tools_ControlPanel_ReplaceWidgets" name="ToolsReplaceWidgets" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
