<?xml version="1.0" encoding="utf-8" ?>
<TabCollection>
  <Tabs>
    <Tab resourcename="CP_Wiki_NavBar_ManageContentGroupHeader" name="ManageWikis">
      <SubTabs>
		  <Tab resourcename="CP_Wiki_NavBar_WikiPageList" urlname="PageList" name="WikiPages" iTabType="Telligent.Evolution.ControlPanel.ManageWikis.BaseWikiMenuItem, Telligent.Evolution.Web" />
		  <Tab resourcename="CP_Wiki_NavBar_WikiPageCommentList" urlname="CommentList" name="WikiComments" iTabType="Telligent.Evolution.ControlPanel.ManageWikis.BaseWikiMenuItem, Telligent.Evolution.Web" />
	  </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
