<?xml version="1.0" encoding="utf-8" ?>
<TabCollection>
  <Tabs>
    <Tab resourcename="CP_BlogAdmin_NavBar_BlogsAndGroups" name="ManageBlogsAndGroups">
      <SubTabs>
        <Tab resourcename="CP_BlogAdmin_CreateNewBlog" urlname="blog_ControlPanel_AdminSectionEdit" name="BlogCreate" />
        <Tab resourcename="CP_BlogAdmin_Blogs" urlname="blog_ControlPanel_AdminBlogs" name="BlogBlogs" />
      </SubTabs>
    </Tab>
    <Tab resourcename="CP_NavBar_Configuration" name="Configuration">
      <SubTabs>
        <Tab resourcename="CP_BlogAdmin_GeneralSettings" urlname="blog_ControlPanel_AdminGeneralOption" name="BlogSettingsGeneral" />
        <Tab resourcename="CP_BlogAdmin_ThemeSettings" urlname="blog_ControlPanel_AdminSkinOptions" name="BlogSettingsSkin" />
        <Tab resourcename="CP_BlogAdmin_FileStorageSettings" urlname="blog_ControlPanel_AdminFileStorageOptions" name="AdminFileStorageOptions" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
