<?xml version="1.0" encoding="utf-8" ?>
<TabCollection>
  <Tabs>
    <Tab resourcename="CP_Wiki_NavBar_ContentGroupHeader" name="ManageWikis">
      <SubTabs>
        <Tab resourcename="CP_Wiki_NavBar_CreateWiki" urlname="NewWiki" name="WikiCreate" iTabType="Telligent.Evolution.ControlPanel.ManageWikis.BaseWikiMenuItem, Telligent.Evolution.Web" />
        <Tab resourcename="CP_Wiki_NavBar_WikiList" urlname="wiki_ControlPanel_WikiList" name="WikiList"  />
      </SubTabs>
    </Tab>
    <Tab resourcename="CP_Wiki_NavBar_Configuration" name="ConfigureWikis">
      <SubTabs>
        <Tab resourcename="CP_Wiki_NavBar_WikFileQuota" urlname="wiki_ControlPanel_WikiQuota" name="WikiQuota" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
