<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
	<Tabs>
		<Tab resourcename="CP_NavBar_Write" name="Write">
			<SubTabs>
				<Tab resourcename="CP_Blog_NavBar_NewPost" urlname="NewPost" name="NewPost" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_NewPostByEmail" urlname="NewPostByEmail" name="NewPostByEmail" iTabType="Telligent.Evolution.ControlPanel.Blogs.BlogByEmailTabValidator, Telligent.Evolution.Web" />
			</SubTabs>
		</Tab>
		<Tab resourcename="CP_Blog_NavBar_ManageContent" name="ManageContent">
			<SubTabs>
				<Tab resourcename="CP_Blog_NavBar_Comments" urlname="Comments" name="Comments" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_Posts" urlname="PostList" name="Posts" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_ConfigureCustomPages" urlname="CustomPageManagement" name="CustomPageManagement" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_Categories" urlname="Tags" name="PostCategories" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_Feedback" urlname="EmailFeedback" name="Feedback" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_Tokens" urlname="Tokens" name="TextParts" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_Spam" urlname="Spam" name="Spam" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
			</SubTabs>
		</Tab>
		<Tab resourcename="CP_Blog_NavBar_Settings" name="Settings">
			<SubTabs>
				<Tab resourcename="CP_Blog_NavBar_DescOptions" urlname="BlogSetup" name="TitleDescriptionAndNews" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_ThemeConfiguration" urlname="ThemeConfiguration" name="ThemeConfiguration" iTabType="Telligent.Evolution.ControlPanel.Blogs.SkinTabValidator, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_PostOptions" urlname="AdvancedPostOptions" name="PostOptions" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_AdvancedConfiguration" urlname="AdvancedConfiguration" name="AdvancedConfiguration" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_Blog_NavBar_BlogFeeds" urlname="BlogFeeds" name="BlogFeeds" iTabType="Telligent.Evolution.ControlPanel.Blogs.BaseBlogMenuItem, Telligent.Evolution.Web" />
			</SubTabs>
		</Tab>
	</Tabs>
</TabCollection>