<?xml version="1.0" encoding="utf-8" ?>
<TabCollection>
  <Tabs>
    <Tab resourcename="CP_MediaGalleryAdmin_NavBar_GalleriesAndGroups" name="ManageBlogsAndGroups">
      <SubTabs>
        <Tab resourcename="CP_MediaGalleryAdmin_CreateNewMediaGallery" urlname="mediaGalleries_ControlPanel_AdminMediaGalleryCreate" name="MediaGalleryCreateMediaGallery" />
        <Tab resourcename="CP_MediaGalleryAdmin_MediaGalleries" urlname="mediaGalleries_ControlPanel_AdminMediaGalleries" name="MediaGalleries" />
      </SubTabs>
    </Tab>
    <Tab resourcename="CP_NavBar_Configuration" name="Configuration">
      <SubTabs>
        <Tab resourcename="CP_MediaGalleryAdmin_Settings" urlname="mediaGalleries_ControlPanel_AdminSettings" name="MediaGallerySettings" />
        <Tab resourcename="CP_MediaGalleryAdmin_GlobalQuotas" urlname="mediaGalleries_ControlPanel_AdminGlobalQuotas" name="MediaGalleryQuotas" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
