<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
	<Tabs>
		<Tab resourcename="CP_Blog_NavBar_Posts" name="Posts" roles="Administrators;Moderator">
			<SubTabs>
				<Tab resourcename="CP_Moderation_Forums" href="~/ControlPanel/Moderation/default.aspx" name="ModerateForums" />
        <Tab resourcename="CP_Moderation_Summary" href="~/ControlPanel/Moderation/Summary.aspx" name="Summary" />
      </SubTabs>
		</Tab>
    <Tab resourcename="CP_Blog_NavBar_Categories" name="Tags" roles="Administrators;Moderator">
      <SubTabs>
        <Tab resourcename="CP_Moderation_Tags" href="~/ControlPanel/Moderation/Tags.aspx" name="Tags" />
      </SubTabs>
    </Tab>
	</Tabs>
</TabCollection>