<?xml version="1.0" encoding="utf-8" ?>
<TabCollection>
  <Tabs>
    <Tab resourcename="Groups" name="ManageHubsAndGroups">
      <SubTabs>
        <Tab resourcename="CP_Hub_NavBar_CreateHub" urlname="hub_ControlPanel_CreateHub" name="CreateHub" />
        <Tab resourcename="CP_Hub_NavBar_HubList" urlname="hub_ControlPanel_AdminHubs" name="ManageHubs" />
      </SubTabs>
    </Tab>
    <Tab resourcename="CP_NavBar_Configuration" name="Configuration">
      <SubTabs>
        <Tab resourcename="CP_Hub_NavBar_ThemeOptions" urlname="hub_ControlPanel_AdminThemes" name="HubThemeOptions" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
