<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/Themes/Groups/generic/theme.master" %>

<asp:Content runat="server" ContentPlaceHolderID="content">            
	<asp:ContentPlaceHolder runat="server" ID="content" />
</asp:Content>