<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
	<Tabs>
		<Tab resourcename="CP_NavBar_Write" name="Write">
			<SubTabs>
				<Tab resourcename="CP_MediaGalleries_Upload_File" urlname="FileEditor" name="NewFile" iTabType="Telligent.Evolution.ControlPanel.MediaGalleries.BaseMediaGalleryMenuItem, Telligent.Evolution.Web" />
			</SubTabs>
		</Tab>
		<Tab resourcename="CP_NavBar_ManageContent" name="ManageContent">
			<SubTabs>
				<Tab resourcename="CP_MediaGalleries_Files" urlname="FileList" name="Files" iTabType="Telligent.Evolution.ControlPanel.MediaGalleries.BaseMediaGalleryMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_MediaGalleries_Tags" urlname="Tags" name="FileCategories" iTabType="Telligent.Evolution.ControlPanel.MediaGalleries.BaseMediaGalleryMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_MediaGalleries_Comments" urlname="Comments" name="Comments" iTabType="Telligent.Evolution.ControlPanel.MediaGalleries.BaseMediaGalleryMenuItem, Telligent.Evolution.Web" />
			</SubTabs>
		</Tab>
		<Tab resourcename="CP_NavBar_Settings" name="Settings">
			<SubTabs>
				<Tab resourcename="CP_MediaGalleries_TitleAndDescription" urlname="MediaGallerySetup" name="TitleAndDescriptionOptions" iTabType="Telligent.Evolution.ControlPanel.MediaGalleries.BaseMediaGalleryMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_MediaGalleries_AdvancedFileSettings" urlname="FileOptions" name="FileOptions" iTabType="Telligent.Evolution.ControlPanel.MediaGalleries.BaseMediaGalleryMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_MediaGalleries_PresentationOptions_Title" urlname="Presentation" name="PresentationOptions" iTabType="Telligent.Evolution.ControlPanel.MediaGalleries.BaseMediaGalleryMenuItem, Telligent.Evolution.Web" />
				<Tab resourcename="CP_MediaGalleries_AdvancedSyndicationSettings" urlname="RSS" name="SyndicationOptions" iTabType="Telligent.Evolution.ControlPanel.MediaGalleries.BaseMediaGalleryMenuItem, Telligent.Evolution.Web" />
			</SubTabs>
		</Tab>
	</Tabs>
</TabCollection>
