<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
	<Tabs>
		<Tab resourcename="CP_Tabs_MyBlogs" href="~/controlpanel/blogs/switch.aspx" name="Blogs" iTabType="Telligent.Evolution.ControlPanel.Controls.WeblogsItemValidator,Telligent.Evolution.Web" />
		<Tab resourcename="CP_Tabs_MyMediaGalleries" href="~/controlpanel/mediagalleries/switch.aspx" name="MediaGalleries" iTabType="Telligent.Evolution.ControlPanel.Controls.MediaGalleryItemValidator,Telligent.Evolution.Web" />
		<Tab resourcename="CP_Tabs_ForumsModeration" href="~/controlpanel/moderation" name="ForumModeration" roles = "Administrators;Moderator" iTabType="Telligent.Evolution.ControlPanel.Controls.ForumsItemValidator,Telligent.Evolution.Web" />
		<Tab resourcename="CP_Tabs_MyWikis" href="~/controlpanel/wikis/switch.aspx" name="Wikis" iTabType="Telligent.Evolution.ControlPanel.Controls.WikisItemValidator,Telligent.Evolution.Web" />
		<Tab resourcename="CP_MyGroups_Title" href="~/controlpanel/groups/switch.aspx" name="Group" iTabType="Telligent.Evolution.ControlPanel.Controls.GroupsItemValidator,Telligent.Evolution.Web" />
		<Tab resourcename="CP_Tabs_Administration" urlname="settings_ControlPanel_Home" name="Setup" roles="Administrators">
			<SubTabs>
				<Tab resourcename="CP_BlogAdmin_NavBar_Blogs" name="Blogs" roles="Administrators" href="~/ControlPanel/BlogAdmin/default.aspx" iTabType="Telligent.Evolution.ControlPanel.Controls.WeblogsItemValidator,Telligent.Evolution.Web" />
				<Tab resourcename="CP_MediaGalleryAdmin_NavBar_MediaGallery" name="MediaGallery" roles = "Administrators" href="~/ControlPanel/MediaGalleryAdmin/default.aspx" iTabType="Telligent.Evolution.ControlPanel.Controls.MediaGalleryItemValidator,Telligent.Evolution.Web" />
				<Tab resourcename="CP_Forums_NavBar_Forums" name="Forums" roles = "Administrators" href="~/ControlPanel/Forums/default.aspx" iTabType="Telligent.Evolution.ControlPanel.Controls.ForumsItemValidator,Telligent.Evolution.Web" />
				<Tab resourcename="CP_Hub_NavBar_Hubs" name="Groups" roles="Administrators" href="~/ControlPanel/GroupAdmin/default.aspx" />
				<Tab resourcename="CP_Wiki_NavBar_Wikis" name="Wikis" roles="Administrators" href="~/ControlPanel/WikiAdmin/default.aspx" iTabType="Telligent.Evolution.ControlPanel.Controls.WikisItemValidator,Telligent.Evolution.Web" />
				<Tab resourcename="CP_Membership_NavBar_Membership" name="Membership" roles = "Administrators" href="~/ControlPanel/Membership/membersearch.aspx" />
				<Tab resourcename="CP_Settings_NavBar_Settings" name="Settings" roles = "Administrators" href="~/ControlPanel/Settings/default.aspx" />
			</SubTabs>
		</Tab>
	</Tabs>
</TabCollection>
